@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {


    body {
        @apply text-sm bg-white text-black;
    }

    article {
        @apply cursor-pointer duration-1000 border-black;
    }

    button {
        @apply cursor-pointer rounded-full;
    }

    a {
        @apply cursor-pointer hover:underline;
    }

    input, textarea {
        @apply w-full  focus:border-black font-extralight focus:outline-none duration-100 rounded-full;
    }

    .m-section {
        @apply bg-black opacity-5;
    }

    .m-button {
        @apply text-sm py-[10px] px-[20px] bg-black text-white font-medium border border-black;
    }

    .l-button {
        @apply text-sm py-[10px] px-[20px] bg-white text-black font-medium border border-black;
    }

    .m-input {
        @apply text-base p-[10px] bg-slate-100;
    }

    .l-input {
        @apply text-base p-[20px] bg-slate-100;
    }

    .m-h1 {
        @apply text-[10px] font-medium;
    }

    .l-h1 {
        @apply text-[10px] text-gray-500 font-thin;
    }

    .m-h2 {
        @apply text-[12px] font-medium;
    }

    .l-h2 {
        @apply text-[12px] text-gray-500 font-thin;
    }

    .m-h3 {
        @apply text-[11px] md:text-[14px] font-medium;
    }

    .l-h3 {
        @apply text-[11px] md:text-[14px] text-gray-500 font-thin;
    }

    .m-h4 {
        @apply text-[13px] md:text-[16px] font-medium;
    }

    .l-h4 {
        @apply text-[13px] md:text-[16px] text-gray-500 font-thin;
    }

    .m-h5 {
        @apply text-[16px] md:text-[18px] font-medium;
    }

    .l-h5 {
        @apply text-[16px] md:text-[18px]  text-gray-500 font-thin;
    }

    .m-h6 {
        @apply text-[19px] md:text-[22px]  font-medium;
    }

    .l-h6 {
        @apply text-[19px] md:text-[22px]  text-gray-500 font-thin; 
    }

}